__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
.Python
*.so
.env
.venv/
venv/
*.egg-info/
.pytest_cache/
.mypy_cache/
.DS_Store
.history/
.wandb/
wandb/
.vendor/
docs/
run_nicomplex_ood_train_infer.sh
run_ood_property_train_infer.sh
run_vaska_ligand_ood_train_infer.sh
